<a href="https://api.notion.com/v1/oauth/authorize?owner=user&client_id=<%= @client_id %>&redirect_uri=<%= @redirect_uri %>&auth%2Fnotion%2Fcallback&response_type=code&state=<%= @encrypted_userid %>">
Add to Notion</a>


