development:
  ## Emma
  # token: xoxb-3332185093717-3416663026464-uZgCRjiB68ryt8lbTDzLD2ff
  # client_id: "2894594156547.3443017645713"
  # client_secret: "fd699ea5548b620ecd854f81646e5683"
  # verification_token:

  ## Sky
  app_id: "A03BBGG118W"
  client_id: "3332185093717.3385560035302"
  client_secret: "1ee6fbb35b76476715e27e345a885c80"
  sign_secret:
  verification_token:

test:
  app_id: "test"
  client_id: "test"
  client_secret: "test"
  sign_secret: "test"
  verification_token: "test"

staging:
  app_id: "A03DQB8375J"
  client_id: "3332185093717.3466382109188"
  client_secret: "04de43f532afa24f5b5ebf240db56cce"
  sign_secret: "d20d69f8d875247755d6776eec10b6aa"
  verification_token: "TSLxa0YcgIOIl9mh4Ojvhc7Y"

production:
  app_id: "<%= ENV.fetch("PROD_IDEAIO_SLACK_APP_ID", "mock") %>"
  client_id: "<%= ENV.fetch("PROD_IDEAIO_SLACK_CLIENT_ID", "123.1231413213123132132132144") %>"
  client_secret: "<%= ENV.fetch("PROD_IDEAIO_SLACK_CLIENT_SECRET", "mock") %>"
  sign_secret: "<%= ENV.fetch("PROD_IDEAIO_SLACK_SIGN_SECRET", "mock") %>"
  verification_token: "<%= ENV.fetch("PROD_IDEAIO_SLACK_VERIFICATION_TOKEN", "mock") %>"
